.content-1 {
  background-color: #2980b9;
  padding: 3rem;
}
.content-2 {
  background-color: #27ae60;
  padding: 3rem;
}
.content-3 {
  background-color: orange;
  padding: 3rem;
}
.footer {
  background-color: #c0392b;
  padding: 3rem;
}
